.button {
  border-radius: 40px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.default {
  background-color: var(--orange);
  color: var(--white);
  border: 1px solid var(--orange);

  &:hover {
    background-color: var(--light-gray);
  }
}

.outlined {
  color: var(--white);
  background-color: var(--light-black);
  border: 1px solid var(--gray);

  &:hover {
    color: var(--orange);
    border-color: var(--orange);
  }
}

.danger {
  background-color: var(--red);
  color: var(--white);
  border: 1px solid var(--red);

  &:hover {
    background-color: var(--light-gray);
  }
}
