@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --light-black: #1a1c21;
  --black: #15171b;
  --white: #ffffff;
  --gray: #858991;
  --orange: #fe6100;
  --red: #ef233c;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background-color: var(--light-black);
  color: var(--white);
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--orange);
  border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
  background-color: var(--white);
  border-radius: 50%;
}
